<h1>Point Tracker Password Reset</h1>
<p>Follow the link to reset your Point Tracker password</p>
<a href="<%= "http://" + ENV['SERVER_DOMAIN'] + "/auth/reset_password_page/" + @token%>">Reset Password</a>